<div class="bg-white">
    <div class=" flex w-full">
        <div class="text-center">
            <img class="h-12 ml-2 mt-1 rounded-2xl"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS40wAeFtC0e_yGdAAIBCPw1WPYMZkFY_efuw&usqp=CAU"
                alt="">
        </div>
        <div class="my-auto ml-3">
            Logged In as {{loggedinuser}}
        </div>
        <button class="ml-auto bg-gray-300 rounded-xl hover:bg-slate-400 p-2 m-2" (click)="logout()">Logout
            ({{loggedinuser}})</button>
    </div>
    <div class="flex h-screen">
        <div class="overflow-y-scroll">
            <div class="p-3 w-full border-y text-center">
                All OF Your Contacts Are Displayed here
            </div>
            <div class="text-center">
                <ng-container *ngFor="let item of friends">
                    <div class="flex border-b">

                        <button class="p-3 flex w-full active:bg-slate-300 focus:bg-gray-200"
                            (click)="receiver(item.username)" [routerLink]="['name',item.username]">
                            <!-- user image -->
                            <img class="w-6 rounded-full"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdcIEbKLDtIzf6KOjQmgQJa968fq7D3qJliQ&usqp=CAU"
                                alt="">
                            <!-- name and message -->
                            <div class="h-10">
                                <p class="ml-3 text-left">{{item.username}}</p>
                                    <ng-container *ngFor="let item1 of minichat">
                                        <ng-container *ngIf="((item1.receiver==item.username))">
                                            <p class="ml-3 text-gray-300">
                                                <small class="overflow-hidden">{{item1.message}}</small>
                                            </p>
                                        </ng-container>
                                    </ng-container>
                            </div>
                            <div class=" ml-auto">
                                <ng-container *ngFor="let item2 of chatunseen">
                                    <ng-container *ngIf="item.username==item2.receiver && item2.count > 0">
                                        <span class="bg-green-200 rounded-full px-1 ">count {{item2.count}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="w-screen h-full">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>